.recipes {
    padding: 22px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
}

@media only screen and (max-width: 777px) {
    .recipes {
        grid-template-columns: auto auto;
    }
}
@media only screen and (max-width: 444px) {
    .recipes {
        grid-template-columns: auto;
    }
}

img {
    width: 100%;
}