* {
    box-sizing: border-box;
}

.sitefooter {
    padding: 12px;
    border-top: solid thin #ccc;
    position: absolute;
    bottom: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}